.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control label {
  font-weight: bold;
  margin-bottom: .6em;
}

.form_control select {
  border-radius: 0;
  padding: .7em;
  border: none;
  background-color: #ddd
}
